<div class="main_header">
  <div class="main_header_logo">
    <%= @room.name %>
  </div>
  <div class="main_header_btn">
    <%= link_to 'チャットを終了する', room_path(@room), method: :delete %>
  </div>
</div>
<div class="main_box">
  <%= render partial: 'message', collection: @messages %>
</div>
<div class="main_footer">
  <%= form_with model: [@room, @message], class: 'main_footer_form', local: true do |f| %>
    <div class="footer_form_contents">
      <%= f.text_field :content, class: 'main_footer_text', placeholder: 'type a message' %>
      <label class="main_footer_image">
        <span class="image_file">画像<span>
        <%= f.file_field :image, class: 'image_file_commit' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'main_footer_commit' %>
  <% end %>
</div>